@font-face {
  font-family: "Circular";
  src: url("fonts/Circular Std Book.otf") format("OpenType");
}
@font-face {
  font-family: "Circular Bold";
  src: url("fonts/Circular Std Bold.otf") format("OpenType");
}
@font-face {
  font-family: "Circular Medium";
  src: url("fonts/Circular Std Medium.otf") format("OpenType");
}

h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
